requests~=2.28.1
pandas~=1.4.3
lxml
ipython
backoff~=2.1.2
bs4~=0.0.1
SQLAlchemy~=1.4.40
psycopg2
psycopg2-binary
schedule~=1.1.0
ratelimit~=2.2.1
selenium
html5lib
webdriver-manager
beautifulsoup4~=4.11.1
pytest~=7.1.2
pytest-cov~=3.0.0
boto3
fake_web_events